.App{
  display: flex;
  flex-direction: column;

}
.calc {
  display: flex;
  flex-flow: column nowrap;
  max-width: 700px;
  min-width: 250px;
}
.buttons-container{
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 8px;

}

button{
  width: auto;
  height: 70px;
  max-width: 132px;
}
#clear{
  order: 0;
  grid-column: 4/5;
}

#display{
  margin-bottom: 8px;
  width: 75%;
  height: 150px;
  background-color: rgb(113, 160, 160);
}

